.footer {
  background-color: #6a0dad;
  animation: morado 7.5s infinite alternate;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
}

@keyframes morado {
  0% {
    background-color: #771eca;
  }
  50% {
    background-color: #480d91;
  }
  100% {
    background-color: #25043d;
  }
}

.footer-column {
  color: white;
  padding: 10px;
  flex: 1;
  min-width: 250px;
  box-sizing: border-box;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-column li img {
  margin-right: 10px;
  width: 22px;
}

.footer-column a {
  text-decoration: none;
  color: white;
}

.x:hover {
  color: white;
  opacity: 0.25;
  transition: .5s;
}

.fb:hover {
  color: aqua;
  opacity: 0.25;
  transition: .5s;
}

.ig:hover {
  color: mediumvioletred;
  opacity: 0.55;
  transition: .5s;
}

.logox {
  height: 15px;
  border-radius: 50px;
  background-color: antiquewhite;
}

.direccion {
  text-align: left;
}
